<script src="/js/display-time.js" type="module"></script>
<main>
    <h1>Add entry to <%= game.name %> (<display-time start="<%= gt.start %>" end="<%= gt.end %>">
<%= new Date(gt.start) %> - <%= new Date(gt.end) %>
    </display-time>)</h1>

    <% if(error) { %>
        <div class="form-error">
            <%= error %>
        </div>
    <% } %>

    <form method="post" action="/games/<%= game.slug %>/times/<%= gt.id %>/entries">
        <label for="priority">Priority</label>
        <select name="priority" id="priority">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <p>1 is the lowest priority, 5 is the highest priority.</p>
        <input type="submit" value="Add entry" />
    </form>
</main>