<script src="/js/display-time.js" type="module"></script>
<main>
    <h1>Add entry to <%= game.name %> (<display-time start="<%= gt.start %>" end="<%= gt.end %>">
<%= new Date(gt.start) %> - <%= new Date(gt.end) %>
    </display-time>)</h1>

    You're about to 

    <form></form>
</main>